<!-- start custom head snippets -->

<!-- Osano Cookie Consent -->
<script src="https://cmp.osano.com/16CPKoTjoud6E2AM/db4b3349-4576-477f-a613-1b6d68266299/osano.js"></script>

<!-- Insights -->
<script src="https://getinsights.io/js/insights.js"></script>
<script>
  if (location.hostname !== 'localhost' && location.hostname !== '127.0.0.1') {
    insights.init('nw3iKFCGialfAUcJ');
    insights.trackPages();
  }
</script>

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://catherinephanvan.fr/",
      "logo": "https://catherinephanvan.fr/assets/images/logo_CPV_transparent.webp"
    }
</script>

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- brevo -->
<style>
  .sib-form-block__button {
    color: #fff;
    background-color: #7395ae;
    border: #cfd4d3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.125);
    padding: 0.25em;
    margin-bottom: 0.5em;
    width: auto;
    height: auto;
    cursor: pointer;
  }
  .entry__error {
    color: #f00;
  }
  .sib-form-message-panel {
    display: none;
  }
  .brevo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: small;
  }
  .brevo img {
    max-width: 80px;
  }
  .brevo p {
    padding-left: 1rem;
  }
</style>
<!-- end custom head snippets -->
