<!-- start custom head snippets -->

<!-- Cookie Bot - CMP GDPR -->
<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="2f852ebc-dc3d-42c2-9b4c-26fd32cc3403" data-blockingmode="auto" type="text/javascript"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BE0T8E1ZDZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BE0T8E1ZDZ');
</script>

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
