<!-- start custom head snippets -->

<!-- Cookie Bot - CMP GDPR -->
<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="2f852ebc-dc3d-42c2-9b4c-26fd32cc3403" data-blockingmode="auto" type="text/javascript"></script>

<!-- Counter -->
<script>if(!sessionStorage.getItem("_swa")&&document.referrer.indexOf(location.protocol+"//"+location.host)!== 0){fetch("https://counter.dev/track?"+new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,id:"d6af5c4c-419c-4474-b7e8-1c9dc1c390ec",utcoffset:"2"}))};sessionStorage.setItem("_swa","1");</script>
<!-- GoatCounter -->
<script data-goatcounter="https://cathphanvan.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://catherinephanvan.fr/",
      "logo": "https://catherinephanvan.fr/assets/images/logo_CPV_transparent.webp"
    }
</script>

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
