{% if page.author_profile or layout.author_profile or page.sidebar or page.sidebar_newsletter %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.author_social_only %}{% include author-social.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src="{{ s.image | relative_url }}"
             alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  {% if page.sidebar_newsletter %}
    <p><strong>Newsletter mensuelle</strong></p>
    <p>
      Le premier dimanche de chaque mois, je vous propose une anecdote d'écriture,
      mon journal de bord d'autrice,
      l'actu de mes publications
      et un petit récap des dernières nouveautés (chroniques&hellip;) sur le blog.
    </p>
    <p>
      Alors si le programme vous tente, n'hésitez pas à <a href="/newsletter#abonnez-vous"><strong>vous inscrire</strong></a>&nbsp;: c'est sans engagement&nbsp;! 😊
    </p>
  {% endif %}
  {% if page.sidebar_newsletter_full %}
    <p><strong>Newsletter mensuelle</strong></p>
    <p>
      Le premier dimanche de chaque mois, je vous propose de retrouver un petit aperçu
      de ma trépidante (😂) vie d'autrice, en toute décontraction,
      avec une anecdote d'écriture, mon journal de bord
      <em>(qu'est-ce que j'écris, comment j'avance, dans quel état j'erre&hellip;)</em>,
      l'actu de mes publications <em>(bon, ça&hellip; ça ne sera sûrement pas tous les mois, je ne suis pas assez prolifique&nbsp;! 😅)</em>,
      et un petit récap des dernières nouveautés mises en ligne sur le blog.
    </p>
    <p>
      Alors si le programme vous tente, n'hésitez pas à <a href="/newsletter#abonnez-vous"><strong>vous inscrire</strong></a>&nbsp;: c'est sans engagement&nbsp;! 😊
    </p>
  {% endif %}
  {% if page.sidebar_profilSP %}
    <p><strong><a href="https://simplement.pro/u/CathLit" target="_blank"><i class="fa-simplement-pro"></i></a> Services Presse</strong></p>
    <p>Vous souhaitez que je chronique votre livre&nbsp;?</p>
    <p>Vous pouvez me proposer un service presse via mon compte
      <a href="https://simplement.pro/u/CathLit" target="_blank">SimPlement Pro</a>.
    </p>
  {% endif %}
  </div>
{% endif %}
